<app-header></app-header>

<section>
  <div class="card">
    <div class="card-body list-title py-4">
      <h3 class="card-title">Aplicación y Desafectación</h3>

      <a href="/form" class="btn btn-primary">Anterior</a>
    </div>
  </div>
</section>

<section class="container-fluid my-4">
  <div class="">
    <div class="card-body">
      <h3 class="card-title">
        Seleccione el Tipo de Aplicación que corresponde:
      </h3>

      <div class="row">
        <div class="col-xs-12 col-sm-4 py-4">
          <div class="card element-block element-1">
            <div class="card-body">
              <i class="fas fa-home text-white"></i>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-title py-4">
                Patrimonio Familiar Tributario
              </li>
              <li class="list-group-item py-4">
                Análisis para los beneficios de PFT
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 py-4">
          <div class="card element-block element-2">
            <div class="card-body">
              <i class="fas fa-home text-white"></i>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-title py-4">
                Vivienda Principal
              </li>
              <li class="list-group-item py-4">
                Análisis para los beneficios de VP
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 py-4">
          <div class="card element-block element-3">
            <div class="card-body">
              <i class="fas fa-hospital text-white"></i>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-title py-4">
                Otros Tipos de Exoneración
              </li>
              <li class="list-group-item py-4">
                Análisis para los beneficios de las Exoneraciones Especiales
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-xs-12 col-sm-4 py-4">
          <div class="card element-block element-4">
            <div class="card-body">
              <i class="fas fa-calculator text-white"></i>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-title py-4">
                Exoneraciones Automáticas de Mejoras
              </li>
              <li class="list-group-item py-4">
                Análisis para calcular la conveniencia entre el impuesto por
                Exoneraciones de Mejoras vs PFT o VP.
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xs-12 col-sm-4 py-4">
          <div class="card element-block element-5">
            <div class="card-body">
              <i class="fas fa-bolt text-white"></i>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item list-group-title py-4">
                Exoneraciones por Catástrofes Naturales
              </li>
              <li class="list-group-item py-4">
                Análisis para los Beneficios de Casos de Catástrofes Naturales
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
